@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager


<nav id="my-nav" class="navbar">
    <div class="logo">
        <a href="@Url.Action("Index", "Home")">
            <img id="logo" src="~/assets/logo.svg" alt="CodingBuddy C-shaped logo in blue and purple" />
        </a>
    </div>
    <div id="logo-text" class="logo-text"><a>@Html.ActionLink("CODINGBUDDY", "Index", "Home")</a></div>
    <ul id="navbar-list" class="nav-list">
        <li class="list-item">
            <a>@Html.ActionLink("Home", "Index", "Home")</a>
        </li>
        <li class="list-item">
            <a>@Html.ActionLink("About", "About", "Home")</a>
        </li>
        <li class="list-item">
            <a>@Html.ActionLink("FAQ", "FAQ", "Home")</a>
        </li>
        @if (signInManager.IsSignedIn(User))
        {
            <li class="list-item">
                <a>@Html.ActionLink("Find-a-Buddy!", "FindABuddy", "Matches")</a>
            </li>
            <li class="list-item">
                <a>@Html.ActionLink("Matches", "Matches", "Matches")</a>
            </li>
        }
    </ul>
    <ul id="login-list" class="login-signup-list">
            @if (signInManager.IsSignedIn(User))
        {
                @*Displays the username if the user is logged in*@
                <li class="list-item">
                    @*Links to the edit user page when click on username*@
                    <a asp-action="EditProfile" asp-controller="Account"
                asp-area="" style="color:blueviolet!important; text-decoration: underline;">@User.Identity!.Name</a>
                </li>

                <li class="list-item">
                    <form method="post" asp-action="LogOut" asp-controller="Account"
                    asp-area="">
                    <input type="submit" value="Log Out"
                        class="btn" id="logout-button">
                    </form>
                </li>

        }
        else
        {
            // get current action
           
            var action = ViewContext.RouteData.Values["action"];
            action = action!.ToString();

            // anonymous user - Register link and Log In button
            <li class="list-item @Html.ActiveClass("Account", "Register",
            "selected")">
                <a asp-action="RegisterInSteps" asp-controller="Account"
                asp-area="" class="nav-link list-item" id="signup-button">Sign Up</a>
            </li>
            <li class="list-item">
                <a asp-action="Login" asp-controller="Account"
                asp-area="" class="nav-link list-item" id="login-button">Log In</a>
            </li>
        }
    </ul>
    <div id="toggle-button" class="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</nav>